__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
monenv/
venv/
env/
monenv/*
.env
.idea/
.vscode/
*.log
*.bak
*.tmp
*.egg-info/
dist/
build/
*.egg
*.safetensors
*.bin
*.pt
*.safetensors
*.bin
*.pt
*.pth

./finetuned_fr_wolof/*
finetuned_fr_wolof.zip
evaluation*.csv